@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:wght@300&display=swap");
    
body {
    margin: 0 auto;
    padding: 1em;
    max-width: 50em;
    line-height: 1.5;
    color: white;
    font-family: "Josefin Sans", "Open Sans", sans-serif;
    font-size: 20px;
    background-color: darkslategrey;
}

header {
    background-color: aliceblue;
    background-image: url("../img_Header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vw 1em;
    text-align: center;
}

header a{
    font-size: 25px;
    background-color: lightcyan;
}

header h1 {
    background-color: darkslategrey;
}

img {
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}

a:hover {
    color: black;
}

.ueberschrift {
    color: lightcyan;
    padding: 1em;
}

.strong,
a {
    color: darkcyan;
}

.impressum {
    font-weight: 800;
    text-align: center;
}